<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jadval.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Crossword" asp-action="Index">
                        <span class="alert alert-warning mb-0 navbar-brand p-1">

                            <img src="/favicon.ico" alt="Admin" class="mt-n1" style="width: 24px;">
                            @User.Identity.Name
                        </span>

                        <span class="alert alert-warning mb-0 navbar-brand p-1">
                            💰
                            <span id="Coins">0</span>
                        </span>
                    </a>


                    <script>
                        GetCoins()
                        function GetCoins() {
                            fetch(`/Account/GetCoins`)
                                .then((response) => response.json())
                                .then((json) => {
                                    document.getElementById("Coins").innerText = json.data
                                });
                        }
                    </script>
                }
                else
                {
                    <a class="navbar-brand" href="/">
                        <span>
                            Jadval
                        </span>
                    </a>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-right" asp-area="" asp-controller="Account" asp-action="Login">ورود</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark  text-right" asp-area="" asp-controller="Account" asp-action="Start">شروع</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-right" asp-area="" asp-controller="Crossword" asp-action="Index">برو به بازی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-right" asp-area="" asp-controller="Account" asp-action="ChangePassword">تغیر رمز عبور</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-right" asp-area="" asp-controller="Account" asp-action="ChangeUserName">تغیر نام کاربری</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-right" asp-area="AdminPanel" asp-controller="home" asp-action="Index">پنل مدیریت</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark text-right" asp-area="" asp-controller="Account" asp-action="LogOut">خروج</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
