@{
    ViewData["Title"] = "داشبورد";
}
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Token distribution</h6>
            </div>
            <div class="card-body">
                <h1>wellcome</h1>
            </div>
        </div>
    </div>
</div>
