
@{
    ViewData["Title"] = "لیست کاربران";
}
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">لیست کاربران</h6>
            </div>
            <div class="card-body" id="ListBody">

            </div>
        </div>
    </div>
</div>

<script>
    function load() {
        fetch('@Url.Action("_Index", "User")' + location.search)
            .then((response) => response.text())
            .then((text) =>
                $("#ListBody").html(text)
            );
    }
    load();

</script>