@model Jadval.Application.Wrappers.PagedResponse<bool>
    
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model.Data)
{
    <a asp-action="Play" asp-route-level="0" class="btn btn-lg btn-success">⭐</a>
}

@section Scripts{

}