@model Jadval.Application.Wrappers.PagedResponse<bool>

@{
    ViewData["Title"] = "Home Page";
    var i = (Model.PageNumber - 1) * Model.PageSize;
}

<div class="row">

    @foreach (var item in Model.Data)
    {
        <div class="p-2">
            @if (item)
            {

                <form action="/Crossword/Play" method="post">
                    <input value="@i" name="level" type="hidden">
                    <input type="submit" value="⭐" class="btn btn-lg btn-success">
                </form>
            }
            else
            {
                <input type="submit" value="🔒" class="btn btn-lg btn-success">
            }
        </div>
        i++;
    }
</div>

@section Scripts{

}